.w3-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.w3-theme-l3 {color:#03214F !important; background-color:#999999 !important}
.w3-theme-l2 {color:#03214F !important; background-color:#666666 !important}
.w3-theme-l1 {color:#03214F !important; background-color:#333333 !important}
.w3-theme-d1 {color:#03214F !important; background-color:#FFFFFF !important}
.w3-theme-d2 {color:#03214F !important; background-color:#FFFFFF !important}
.w3-theme-d3 {color:#03214F !important; background-color:#FFFFFF !important}
.w3-theme-d4 {color:#03214F !important; background-color:#FFFFFF !important}
.w3-theme-d5 {color:#03214F !important; background-color:#FFFFFF !important}

.w3-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.w3-theme-dark {color:white !important; background-color:rgb(71,84,163) !important}
.w3-theme-action {color:#03214F !important; background-color:#FFFFFF !important}

.w3-theme {color:#03214F !important; background-color:#FFFFFF !important}
.w3-text-theme {color:#03214F !important}
.w3-border-theme {border-color:#FFFFFF !important}

.w3-hover-theme:hover {color:#03214F !important; background-color:#FFFFFF !important}
.w3-hover-text-theme:hover {color:#FFFFFF !important}
.w3-hover-border-theme:hover {border-color:#FFFFFF !important}

.table_id_new { table-layout:fixed;width: 100%; text-align: center;}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column_logo {
  flex: 20%;
  padding: 10px; /* Should be removed. Only for demonstration */
}

.column_content {
  flex: 80%;
  padding: 10px; /* Should be removed. Only for demonstration */
}

